<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">

<body>
<nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/index">UTS</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li><a href="/teacher/list">Teachers</a></li>
                    <li><a href="/subject/list">Subjects</a></li>
                    <li><a href="/usr/views">My Reviews</a></li>
                    <li class="pull-right"><a href="/usr/logout">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="text-center">
        <h1 class="text-danger">Welcome to the UTSReviews</h1>
        <h2 class="text-danger">Your uni. Your voice.</h2>
        <h3 class="text-danger">Test Case.</h3>
        <h4 class ="text-danger">Test2.</h4>
    </div>

</body>
</html>
